<% include head %>
<% var months = [
  'januari',
  'februari',
  'maart',
  'april',
  'mei',
  'juni',
  'juli',
  'augustus',
  'september',
  'oktober',
  'november',
  'december'
]
%>

  <main>
    <section>
      <article style="background-image: url(../img/articles/<%= article.textorimage %>);" class="<%= article.category %>-gradient">
        <header>
          <div class="category <%= article.category.split(' ').join('-') %>">
            <span class="text"><%= article.category.charAt(0).toUpperCase() + article.category.slice(1) %></span>
          </div>
          <div class="date">
            <span class="text">
              <%
              var day = article.date.split('-')[0]
              var month = article.date.split('-')[1]
              var year = article.date.split('-')[2]
              %>
              <%=day%> <%=months[month - 1]%> <%=year%>
            </span>
          </div>
        </header>

        <h1 class="article-title" id="article-title"><%= article.title %></h1>
        <div id="article-text">
          <p class="body-text"><%= article.text %></p>
        </div>


        <div id="article-selector">
          <div class="background"></div>
        </div>
      </article>

      <article>
        <h1 class="article-title" id="havenstad-title">Haven-Stad in de toekomst</h1>
        <h2 id="havenstad-subtitle"><%= article.titlehavenstad %></h2>
        <div id="havenstad-text">
          <p class="body-text"><%= article.texthavenstad %></p>
        </div>
      </article>
    </section>

  </main>

<% include tail %>
