<% include head %>

  <main>
    <section>
      <article>
        <header>
          <div class="category <%= article.category.split(' ').join('-') %>">
            <span class="text"><%= article.category.charAt(0).toUpperCase() + article.category.slice(1) %></span>
          </div>
          <div class="date">
            <span class="text"><%= article.date %></span>
          </div>
        </header>

        <div class="content">
          <h1><%= article.title %></h1>
          <p><%= article.text %></p>
        </div>

        <div id="article-selector">

        </div>
      </article>

      <article>
        <div class="content">
          <div class="title">
            <h1>Haven-Stad</h1>
          </div>
          <div class="text">
            <p><%= article.texthavenstad %></p>
          </div>
        </div>
      </article>
    </section>

  </main>

  <footer>

  </footer>

<% include tail %>
