<% include head %>

  <main>
    <section>
      <article>
        <header>
          <div class="category <%= article.category.split(' ').join('-') %>">
            <span class="text"><%= article.category.charAt(0).toUpperCase() + article.category.slice(1) %></span>
          </div>
          <div class="date">
            <span class="text"><%= article.date %></span>
          </div>
        </header>

        <h1 class="article-title" id="article-title"><%= article.title %></h1>
        <p id="article-text""><%= article.text %></p>

        <div id="article-selector">
          <div class="background">

          </div>
        </div>
      </article>

      <article>
        <h1 class="article-title" id="havenstad-title">Haven-Stad</h1>
        <p id="havenstad-text"><%= article.texthavenstad %></p>
      </article>
    </section>

  </main>

<% include tail %>
