<% include head %>

<% include aside %>

  <main>
    <section>
      <article>
        <header>
          <div class="category">
            <span class="text"><%= article.category.charAt(0).toUpperCase() + article.category.slice(1) %></span>
          </div>
          <div class="date">
            <span class="text"><%= article.date %></span>
          </div>
          <div class="back">
            <a href="/" class="back">Terug</a>
          </div>
        </header>

        <div class="content">
          <h1><%= article.title %></h1>
          <p><%= article.text %></p>
        </div>

        <% include articleselector %>
      </article>

      <article>
        <div class="content">
          <div class="title">
            <h3>Haven-Stad</h3>
          </div>
          <div class="text">
            <p><%= article.texthavenstad %></p>
          </div>
        </div>
      </article>
    </section>

    <% include dateslider %>
  </main>

  <footer>

  </footer>

<% include tail %>
